In [1]:
# Import required libraries

import pandas as pd
import scipy.stats
import seaborn as sns
import numpy as np
from scipy.stats import chi2

In [2]:
# Read raw data.csv

chi_data = pd.read_csv("data.csv")

In [3]:
chi_data.head()

,Name,Age,Gender,MWP_BC,MQB_BC,MWP_AC,MQB_AC,Type,Brand
0,Aarjav,16-20,Male,0.0,0,0.0,0,Alcohol based,Dettol
1,Aashna,16-20,Female,20.0,20,90.0,200,Alcohol based,Dettol
2,Aatman Vaidya,16-20,Male,30.0,0,70.0,900,Alcohol based,Any
3,Aayushi,16-20,Female,50.0,50,95.0,1000,Anything is fine,Dettol
4,Aayushi Sameriya,16-20,Female,70.0,0,100.0,1,Alcohol based,Dettol

In [4]:
# Define a function to calculate chi-square statistics

def chi_square_test(variable_1, variable_2):
    independence_data_chi=pd.crosstab(chi_data[variable_1],chi_data[variable_2])
    Observed_values = independence_data_chi.values
#     print("The observed Values are:\n", Observed_values)
    b = scipy.stats.chi2_contingency(independence_data_chi)
    Expected_value = b[3]
#     print("\nThe expected Values are :\n", Expected_value)
    no_of_rows=len(independence_data_chi.iloc[0:2,0])
    no_of_columns=len(independence_data_chi.iloc[0,0:3])
    df=(no_of_rows-1)*(no_of_columns-1)
    print("\nDegree of Freedom: ",df)
    statistically_significance = 0.05
    chi_square = sum([(o-e)**2./e for o,e in zip(Observed_values,Expected_value)])
    chi_square_statistic=chi_square[0]+chi_square[1]
    p_value=chi2.cdf(x=chi_square_statistic,df=df)
    print("\nP-value:",p_value)
    if p_value <= statistically_significance:
        print("\nWe Reject Null Hypothesis, the two variables %s and %s are dependent" %(variable_1,variable_2))
    else:
        print("\nThere is no enough evidence to Reject null hypothesis, hence the two variables %s and %s are independent" %(variable_1,variable_2))

In [5]:
chi_square_test('Gender','Type')

Degree of Freedom:  2

P-value: 0.33686477201788584

There is no enough evidence to Reject null hypothesis, hence the two variables Gender and Type are independent

In [6]:
chi_square_test('Gender','Brand')

Degree of Freedom:  2

P-value: 0.7437757208611362

There is no enough evidence to Reject null hypothesis, hence the two variables Gender and Brand are independent

In [7]:
chi_square_test('Gender','MQB_AC')

Degree of Freedom:  2

P-value: 0.6586341598991587

There is no enough evidence to Reject null hypothesis, hence the two variables Gender and MQB_AC are independent