In [12]:
import pandas as pd

In [13]:
chi_data = pd.read_csv("encoded_data.csv")

In [14]:
chi_data.head()

,Unnamed: 0,Name,Age,Gender,MWP_BC,MQB_BC,MWP_AC,MQB_AC,Type,Brand
0,0,Aarjav,0,1,0.0,0,0.0,0,0,3
1,1,Aashna,0,0,20.0,20,90.0,200,0,3
2,2,Aatman Vaidya,0,1,30.0,0,70.0,900,0,0
3,3,Aayushi,0,0,50.0,50,95.0,1000,1,3
4,4,Aayushi Sameriya,0,0,70.0,0,100.0,1,0,3

In [21]:
chi_data.drop(["Name","Unnamed: 0","Age","MQB_BC","MQB_AC","Type","Brand"], axis=1,inplace=True)

In [22]:
chi_data.head()

   Gender  MWP_BC  MWP_AC
0       1     0.0     0.0
1       0    20.0    90.0
2       1    30.0    70.0
3       0    50.0    95.0
4       0    70.0   100.0

In [28]:
male_count = chi_data["Gender"].value_count("0")
female_count = chi_data["Gender"].count("1")

/tmp/ipykernel_18603/3624756108.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. ser.count(level=1) should use ser.groupby(level=1).count().
  male_count = chi_data["Gender"].count("0")

ValueError: Series.count level is only valid with a MultiIndex

In [24]:
male_count
female_count

79